{% extends "base.html" %}
{% load static %}

{% block title %}
{{ quiz_object.name }}   
{% endblock %}

{% block scripts %}
<script src="{% static 'quiz.js' %}" defer></script>
{% endblock %}

{% block content %}
<div style="margin-left: 80px;">
    <!-- Afficher le nom du quiz -->
    {{ quiz_object.name }}
    <h1>Hello Quiz List</h1>
    <hr>

    <!-- Formulaire pour le quiz -->
    <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <!-- Div pour afficher les questions -->
        <div id="quiz-box"></div>
        <!-- Bouton pour enregistrer les réponses -->
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>
{% endblock %}
